html, body {
    margin: 0; 
    padding: 0;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: #3cff19;
}

body {
    position: relative;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

main {
    height: 750px;
    width: 1100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card {
    height: 100%;
    border: 2px solid #3cff19;
    padding: 10px;
}

.title {
    height: 10%;
    border-bottom: 2px solid #3cff19;
}

.bars {
    height: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.bar {
    height: 0%;
    width: 3px;
    background-color: #3cff19;
}

.btn {
    position: relative;
    top:50%;
    transform: translate(0%,-50%);
    border: 2px solid #3cff19;
    padding:5px;
    height: 40%; 
}

.btn:hover{
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-around;
    height: 10%;
    border-top: 2px solid #3cff19;
}